/* ------- This is the CSS Reset ------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

.login {
	position: relative; px;
	border: 1px solid #fff;
	background-color: #3AA7FE;
	font: normal 12px/24px "Microsoft YaHei", Helvetica, Tahoma, Arial,
		sans-serif;
}

.login>h1 {
	font-size: 14px;
	color: #E4F1FD;
	height: 20px;
	font-family: normal 16px/ 26px "Microsoft YaHei";
}

.bg {
	position: relative;
	background: url(images/bg.png);
	background-size: 100%;
	height: 60%;
	min-height: 580px;
	margin-top: 3px;
}

.loginL {
	width: 110px;
	height: 145px;
	float: left;
	padding: 5px;
	padding-top: 0px;
	margin: 5px 10px 5px 10px;
	border: 1px solid #fff;
}

.loginC {
	width: 100px;
	height: 100px;
	float: right;
	position: relative;
	z-index: 9999;
}

.loginR {
	width: 20%;
	min-width: 100px;
	float: left;
}

.loginL h2 {
	font-size: 15px;
	color: #fff;
	text-align: center;
}

.loginL ul>li {
	position: relative;
	display: inline-block;
	width: 32px;
	height: 25px;
	margin: 1px;
	color: #fff;
	background-color: #ccc;
	text-align: center;
	cursor: pointer
}

.loginL ul>li:hover,.loginL ul>.cur {
	background-color: #1377BD;
	color: #fff;
	border-radius: 3px;
}

.loginC>.btn {
	display: inline-block;
	width: 63px;
	height: 25px;
	margin: 6px auto;
	background-color: #33485D;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

.btn+.yellow {
	background-color: #CD8508;
}

.center {
	position: relative;
	z-index: 22;
	height: 150px;
	border: 1px solid #fff;
	margin: 5px 10px 5px 145px;
	color: #fff;
	font-size: 14px;
	overflow: hidden;
}

.Title textarea {
	position: relative;
	width: 100%;
	font-size: 16px;
	height: 116px;
	margin-left: 1px;
	background-color: #F3EFEF;
	margin-top: 2px;
}

.Titlelist {
	padding-right: 8px;
}

.gostart,.goScore,.goresult {
	display: inline-block;
	width: 75px;
	height: 25px;
	text-align: center;
	margin-left: 5px;
	cursor: pointer;
}

.gostart {
	background-color: #EE8075;
}

.goScore {
	background-color: #5ED0BA;
}
/* 弹出层样式 */
.reveal-modal-bg {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 100;
	display: none;
	top: 0;
	left: 0;
	background: rgba(00, 00, 00, 0.3)
}

.reveal-modal {
	visibility: hidden;
	top: 150px;
	left: 50%;
	margin-left: -300px;
	width: 520px;
	position: absolute;
	z-index: 101;
	padding: 30px 40px 34px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
	-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
	background-color: #FFF;
}

.reveal-modal.small {
	width: 200px;
	margin-left: -140px;
}

.reveal-modal.medium {
	width: 400px;
	margin-left: -240px;
}

.reveal-modal.large {
	width: 600px;
	margin-left: -340px;
}

.reveal-modal.xlarge {
	width: 800px;
	margin-left: -440px;
}

.reveal-modal .close-reveal-modal {
	font-size: 22px;
	line-height: 0.5;
	position: absolute;
	top: 8px;
	right: 11px;
	color: #333;
	text-shadow: 0 -1px 1px rbga(0, 0, 0, .6);
	font-weight: bold;
	cursor: pointer;
}