.mainBody {
	background-color: #E8E8D8;
	MARGIN: 0;
	OVERFLOW-Y: hidden;
}

.cbToolbar {
	HEIGHT: 27px;
	WIDTH: 100%;
	PADDING: 0px;
	BACKGROUND-COLOR: menu;
}

.tbDivider {
	BORDER-RIGHT: 2 groove;
}

.tbButton,.tbButtonDown,.tbButtonRaise {
	COLOR: buttontext;
	CURSOR: hand;
	HEIGHT: 23;
	BORDER: 1px solid buttonface;
	PADDING: 2px 2px 2px 2px;
	TEXT-DECORATION: none;
	MARGIN-TOP: 0;
}

.tbButtonDown {
	BORDER-COLOR: threeddarkshadow threedhighlight threedhighlight
		threeddarkshadow;
}

.tbDisabled {
	FILTER: alpha(opacity = 35);
	CURSOR: hand;
}

.fbButton {
	BORDER: 1px solid;
	BORDER-COLOR: menu;
	HEIGHT: 18px;
	WIDTH: 18px;
	CURSOR: hand;
	MARGIN: 0;
	PADDING: 0;
	MARGIN: 0;
	VERTICAL-ALIGN: TOP;
}

.AttachTable,.cbToolbar,.cbSubmenu,.fldFont,.fldText,.msgHeader,.fldLabel,.trButtons,.msgViewer,.appointment,.rnOnlineBar,.viewStatusBar,.appointmentBody,.tabHeader,BODY
	{
	FONT-SIZE: 12px;
}

.cbToolbar IMG,.cbSubmenu IMG {
	BORDER: none;
	HEIGHT: 16px;
	WIDTH: 16px;
	MARGIN-RIGHT: 3px;
}

.cbToolbar TD {
	VERTICAL-ALIGN: middle;
}

.monthlyDayHeader,.FORMATBAR,.cbToolbar,.btnRecip,.tbButtonRaise,.tbButton A:hover,.tbButton:hover
	{
	BORDER: 1px solid;
	BORDER-COLOR: threedhighlight threedshadow threedshadow threedhighlight;
}

SELECT,INPUT,TEXTAREA,BUTTON,TABLE {
	FONT-SIZE: 12px;
}

/*add by shulei*/
#nav {
	Z-INDEX: 500;
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	//HEIGHT: 27px;
	LIST-STYLE-IMAGE: none;
	PADDING-TOP: 0px
}

#nav LI.top {
	DISPLAY: block;
	FLOAT: left;
	//HEIGHT: 27px;
}

#nav LI A.top_link {
	PADDING-BOTTOM: 0px;
	LINE-//HEIGHT: 27px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	DISPLAY: block;
	FLOAT: left;
	//HEIGHT: 27px;
	FONT-SIZE: 12px;
	CURSOR: pointer;
	//FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
	PADDING-TOP: 0px color: #000;
	height: 20px;
	line-height: 20px;
	color:#000;
}

#nav LI A.top_link SPAN {
	PADDING-BOTTOM: 0px;
	WIDTH: 60px;
	DISPLAY: block;
	text-align: center;
	FLOAT: left;
	//HEIGHT: 27px;
	PADDING-TOP: 0px
}

#nav LI A.top_link SPAN.down {
	PADDING-BOTTOM: 0px;
	WIDTH: 60px;
	DISPLAY: block;
	text-align: center;
	/* BACKGROUND: url(/jscss/demoimg/201010/three1.gif) no-repeat right; */
	FLOAT: left;
	//HEIGHT: 27px;
	PADDING-TOP: 0px
}

#nav LI:hover A.top_link {
	background-color: #548bcf;
	color: #fff2ee;
}

#nav LI:hover A.top_link SPAN {
	background-color: #548bcf;
	color: #fff2ee;
}

#nav LI:hover A.top_link SPAN.down {
	background-color: #548bcf;
	color: #fff2ee;
	/* BACKGROUND: url(/jscss/demoimg/201010/three1a.gif) no-repeat right; */
}

#nav LI:hover {
	Z-INDEX: 200;
	POSITION: relative
}

#nav LI:hover UL.sub {
	Z-INDEX: 270;
	BORDER-BOTTOM: #ddd 1px solid;
	BORDER-LEFT: #ddd 1px solid;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	WIDTH: 170px;
	PADDING-RIGHT: 0px;
	WHITE-SPACE: nowrap;
	BACKGROUND: #F8F8F8;
	HEIGHT: auto;
	BORDER-TOP: #ddd 1px solid;
	TOP: 20px;
	BORDER-RIGHT: #ddd 1px solid;
	PADDING-TOP: 0px;
	LEFT: 1px
}

#nav LI:hover UL.sub LI {
	POSITION: relative;
	WIDTH: 170px;
	DISPLAY: block;
	FLOAT: left;
	HEIGHT: 19px;
	FONT-WEIGHT: normal
}

#nav LI:hover UL.sub LI A {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	LINE-HEIGHT: 19px;
	TEXT-INDENT: 5px;
	WIDTH: 150px;
	DISPLAY: block;
	HEIGHT: 19px;
	COLOR: #000;
	FONT-SIZE: 12px;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	TEXT-DECORATION: none;
	padding-left: 20px;
}

#nav LI UL.sub LI A.fly {
	BACKGROUND: #F8F8F8 no-repeat left
		center
}

#nav LI:hover UL.sub LI A:hover {
	BACKGROUND: #548bcf repeat-x
		center center;
	COLOR: #fff;
}

#nav LI:hover UL.sub LI A.fly:hover {
	BACKGROUND: #548bcf no-repeat
		left center; 
	COLOR: #fff
}

#nav LI:hover LI:hover UL {
	Z-INDEX: 400;
	BORDER-BOTTOM: #ddd 1px solid;
	BORDER-LEFT: #ddd 1px solid;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	WIDTH: 170px;
	PADDING-RIGHT: 0px;
	WHITE-SPACE: nowrap;
	BACKGROUND: #F8F8F8;
	HEIGHT: auto;
	BORDER-TOP: #ddd 1px solid;
	TOP: -1px;
	BORDER-RIGHT: #ddd 1px solid;
	PADDING-TOP: 0px;
	LEFT: 164px
}

#nav LI:hover LI:hover LI:hover UL {
	Z-INDEX: 400;
	BORDER-BOTTOM: #ddd 1px solid;
	BORDER-LEFT: #ddd 1px solid;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	WIDTH:WIDTH: 170px;DING-RIGHT: 0px;
	WHITE-SPACE: nowrap;
	BACKGROUND: #F8F8F8;
	HEIGHT: auto;
	BORDER-TOP: #ddd 1px solid;
	TOP: -1px;
	BORDER-RIGHT: #ddd 1px solid;
	PADDING-TOP: 0px;
	LEFT: 144px
}

#nav LI:hover LI:hover LI:hover LI:hover UL {
	Z-INDEX: 400;
	BORDER-BOTTOM: #ddd 1px solid;
	BORDER-LEFT: #ddd 1px solid;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	WIDTH: 170px;
	PADDING-RIGHT: 0px;
	WHITE-SPACE: nowrap;
	BACKGROUND: #F8F8F8;
	HEIGHT: auto;
	BORDER-TOP: #ddd 1px solid;
	TOP: -1px;
	BORDER-RIGHT: #ddd 1px solid;
	PADDING-TOP: 0px;
	LEFT: 144px
}

#nav LI:hover LI:hover LI:hover LI:hover LI:hover UL {
	Z-INDEX: 400;
	BORDER-BOTTOM: #ddd 1px solid;
	BORDER-LEFT: #ddd 1px solid;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	WIDTH: 170px;
	PADDING-RIGHT: 0px;
	WHITE-SPACE: nowrap;
	BACKGROUND: #F8F8F8;
	HEIGHT: auto;
	BORDER-TOP: #ddd 1px solid;
	TOP: -1px;
	BORDER-RIGHT: #ddd 1px solid;
	PADDING-TOP: 0px;
	LEFT: 144px
}

#nav UL {
	POSITION: absolute;
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	WIDTH: 0px;
	PADDING-RIGHT: 0px;
	HEIGHT: 0px;
	TOP: -9999px;
	LIST-STYLE-IMAGE: none;
	PADDING-TOP: 0px;
	LEFT: -9999px
}

#nav LI:hover UL UL {
	POSITION: absolute;
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	WIDTH: 0px;
	PADDING-RIGHT: 0px;
	HEIGHT: 0px;
	TOP: -9999px;
	LIST-STYLE-IMAGE: none;
	PADDING-TOP: 0px;
	LEFT: -9999px
}

#nav LI:hover LI:hover UL UL {
	POSITION: absolute;
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	WIDTH: 0px;
	PADDING-RIGHT: 0px;
	HEIGHT: 0px;
	TOP: -9999px;
	LIST-STYLE-IMAGE: none;
	PADDING-TOP: 0px;
	LEFT: -9999px
}

#nav LI:hover LI:hover LI:hover UL UL {
	POSITION: absolute;
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	WIDTH: 0px;
	PADDING-RIGHT: 0px;
	HEIGHT: 0px;
	TOP: -9999px;
	LIST-STYLE-IMAGE: none;
	PADDING-TOP: 0px;
	LEFT: -9999px
}

#nav LI:hover LI:hover LI:hover LI:hover UL UL {
	POSITION: absolute;
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	WIDTH: 0px;
	PADDING-RIGHT: 0px;
	HEIGHT: 0px;
	TOP: -9999px;
	LIST-STYLE-IMAGE: none;
	PADDING-TOP: 0px;
	LEFT: -9999px
}

#nav LI:hover LI:hover A.fly {
	BORDER-BOTTOM-COLOR: #fff;
	BORDER-TOP-COLOR: #fff;
	BACKGROUND: #548bcf no-repeat
		left center;
	COLOR: #fff;
	BORDER-RIGHT-COLOR: #fff;
	BORDER-LEFT-COLOR: #fff;
}

#nav LI:hover LI:hover LI:hover A.fly {
	BORDER-BOTTOM-COLOR: #fff;
	BORDER-TOP-COLOR: #fff;
	BACKGROUND: #548bcf no-repeat
		left center;
	COLOR: #fff;
	BORDER-RIGHT-COLOR: #fff;
	BORDER-LEFT-COLOR: #fff;
}

#nav LI:hover LI:hover LI:hover LI:hover A.fly {
	BORDER-BOTTOM-COLOR: #fff;
	BORDER-TOP-COLOR: #fff;
	BACKGROUND: #548bcf no-repeat
		left center;
	COLOR: #fff;
	BORDER-RIGHT-COLOR: #fff;
	BORDER-LEFT-COLOR: #fff;
}

#nav LI:hover LI:hover LI:hover LI:hover LI:hover A.fly {
	BORDER-BOTTOM-COLOR: #fff;
	BORDER-TOP-COLOR: #fff;
	BACKGROUND: #548bcf no-repeat
		left center;
	COLOR: #fff;
	BORDER-RIGHT-COLOR: #fff;
	BORDER-LEFT-COLOR: #fff;
}

#nav LI:hover LI:hover LI A.fly {
	BORDER-BOTTOM-COLOR: #F8F8F8;
	BORDER-TOP-COLOR: #F8F8F8;
	BACKGROUND: #F8F8F8 no-repeat left
		center;
	COLOR: #000;
	BORDER-RIGHT-COLOR: #F8F8F8;
	BORDER-LEFT-COLOR: #F8F8F8
}

#nav LI:hover LI:hover LI:hover LI A.fly {
	BORDER-BOTTOM-COLOR: #F8F8F8;
	BORDER-TOP-COLOR: #F8F8F8;
	BACKGROUND: #F8F8F8 no-repeat left
		center;
	COLOR: #000;
	BORDER-RIGHT-COLOR: #F8F8F8;
	BORDER-LEFT-COLOR: #F8F8F8
}

#nav LI:hover LI:hover LI:hover LI:hover LI A.fly {
	BORDER-BOTTOM-COLOR: #F8F8F8;
	BORDER-TOP-COLOR: #F8F8F8;
	BACKGROUND: #F8F8F8 no-repeat left
		center;
	COLOR: #000;
	BORDER-RIGHT-COLOR: #F8F8F8;
	BORDER-LEFT-COLOR: #F8F8F8
}
.sub_icon{
	float: right;
	padding-right: 10px;
}

.nav_bb{
	border-bottom: 1px solid #DDDDDD;
}