
html,body{padding:0px;margin:0px;font-size:12px;font-family:ו;background-color:#fff;}
.topbar {width:100%;height:45px;background-image:url("../../../images/portal/CWork/mpi/mptbb.jpg");cursor:default;}
.topbar span {width:11px;height:45px;border:0px;margin-left:15px;margin-right:20px;float:left;background-image:url("../../../images/portal/CWork/mpi/mptblri.jpg");}
.topbar div {height:20px;line-height:20px;margin-top:13px;margin-left:15px;float:left;border:0px solid red;}
.topbar div span {width:6px;height:7px;margin:5px;margin-top:6px;background-image:url("../../../images/portal/CWork/mpi/bluepoint.jpg");}

.footpanel {width:100%;height:128px;background-color:#eee;border-top:1px solid #878ab1;position:absolute;bottom:0px;cursor:default;}

.actionList {width:290px;height:110px;margin-left:30px;margin-top:12px;}
.actionList div {width:140px;height:18px;line-height:18px;float:left;}
.actionList div div {width:6px;height:7px;margin-top:5px;margin-right:5px;background-image:url("../../../images/portal/CWork/mpi/bluepoint.jpg");}

.flowchart a {position:absolute;color:#000;text-decoration:none;text-align:center;}
.flowchart a img {width:55px;height:55px;}
.flowchart div img {width:722px;height:430px;}


.floatmenu ul {width:220px;position:absolute;margin-left:0px;margin-top:35px;border:2px outset #ccc;background-color:#D4D0C8;padding:0px;cursor:default;z-index:601;}
.floatmenu li {list-style:none;height:18px;line-height:18px;padding-left:10px;}
.floatmenu li:hover {background-color:#0a246a;color:#fff;}



